.jobHeader {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 0.5rem;

  .title {
    font-size: 1.125rem;
    color: white;
  }

  .company {
    text-decoration: underline;
  }

  .location {
    font-style: italic;
  }
}

.description {
  padding-bottom: 1rem;
}
