.jobList:not(:last-child) {
  padding-bottom: 2rem;
}

.jobHeader {
  display: grid;
  grid-template-columns: 1.8fr 2fr 1fr 1.2fr;
  padding-bottom: 0.5rem;

  .title {
    font-size: 1.125rem;
    color: white;
  }

  .company {
    text-decoration: underline;
    text-align: center;
  }

  .location {
    font-style: italic;
  }
  .date {
    text-align: right;
  }
}
